<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017–2021 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="list-inline-item"><a [routerLink]="['/productos']">Productos</a></li>
        <li class="list-inline-item"><a [routerLink]="['/nosotros']">Nosotros</a></li>
        <li class="list-inline-item"><a [routerLink]="['/contacto']">Contacto</a></li>
    </ul>
</footer>