<div class="text-center pt-5">
    <h2 >EXPERTOS</h2>
    <p class="pt-3">Somos una comunidad de apasionados por el vino y los spirits. Deseamos que puedas elegir la mejor bebida para disfrutar en cada ocasión.

        Contamos con nuestros expertos para que no estés solo a la hora de elegir frente a una variedad infinita de opciones. Ellos son nuestros Expertos, quienes reúnen un expertise excepcional y te compartirán sus elegidos para cada momento.
    .</p>
    <h5>  Comprá guiado por expertos</h5>
</div>


<app-cards-nosotros></app-cards-nosotros>



