<div class="container">
    <h5 class="section-title h1">NUESTROS PRODUCTOS</h5>
    <div class="row jusrify-content-around">
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[0].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[0].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[0].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[0].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[0].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[0].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[0].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[1].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[1].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[1].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[1].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[1].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[1].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[1].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[2].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[2].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[2].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[2].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[2].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[2].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[2].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[3].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[3].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[3].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[3].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[3].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[3].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[3].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[4].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[4].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[4].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[4].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[4].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[4].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[4].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[5].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[5].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[5].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[5].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[5].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[5].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[5].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[6].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[6].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[6].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[6].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[6].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[6].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[6].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
        <!-- Un Vino -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src={{misVinos[7].imagen}} alt="card image"></p>
                                <h4 class="card-title text-center">{{misVinos[7].nombre}}</h4>
                                <p class="card-text text-variedad">{{misVinos[7].variedad}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body texto-descripcion mt-4">
                                <h4 class="card-title text-center">{{misVinos[7].nombre}}</h4>
                                <ul>
                                    <li><span class="text-bold"> Variedad: </span>{{misVinos[7].variedad}}</li>
                                    <li><span class="text-bold"> Uva: </span>{{misVinos[7].uva}}</li>
                                    <li><span class="text-bold">Maridaje:</span> {{misVinos[7].maridaje}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Un Vino -->
    </div>
</div>