<div class="row mt-3 mx-auto text-center d-flex justify-content-center" id="nosotros">
  <!--card1-->

  <div class="card  mt-3 col-12 col-lg-4" style="width: 18rem;">
    <img src="  {{card1}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Recomendación</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center mx-auto" id="exampleModalLabel">5 VINOS PARA DEJARSE SORPRENDER</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p> Pionero en el desarrollo de la gastronomía autóctona de alta gama. Lideró varias de las cocinas más
                prestigiosas del país – en Hyatt Hotel, Sheraton Hotel, Mares Sur Hoteles, hasta el comienzo del
                proyecto Puratierra que fue reconocido dentro de los Latin America 50 Best Restaurants en 2013, 2014 y
                2016.</p>
              <div class="border"></div>
              <ul class=" float-left" style="font-size: 15px;">
                <li class="text-start">
                  <p style="font-weight: bold;"> Don David Torrontés.</p> Único. Recomiendo maridarlo con empanadas de
                  carne.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Alegoría Malbec.</p> Una vez que uno prueba este vino, no hay vuelta
                  atrás.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Gran Syrah de Finca Las Moras.</p> La máxima expresión de esta cepa
                  emblemática de San Juan.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> La Mascota Cabernet Sauvignon.</p> El Cabernet mendocino premiado como
                  uno de los mejores vinos tintos del mundo.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Trapiche Reserva Malbec.</p> Mi clásica elección cuando quiero tomar un
                  buen Malbec.
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--card2-->

  <div class="card mt-3 col-12 col-lg-4" style="width: 18rem;">
    <img src="  {{card2}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
       <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Recomendación</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center mx-auto" id="exampleModalLabel">5 VINOS PARA DEJARSE SORPRENDER</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p> Pionero en el desarrollo de la gastronomía autóctona de alta gama. Lideró varias de las cocinas más
                prestigiosas del país – en Hyatt Hotel, Sheraton Hotel, Mares Sur Hoteles, hasta el comienzo del
                proyecto Puratierra que fue reconocido dentro de los Latin America 50 Best Restaurants en 2013, 2014 y
                2016.</p>
              <div class="border"></div>
              <ul class=" float-left" style="font-size: 15px;">
                <li class="text-start">
                  <p style="font-weight: bold;"> Don David Torrontés.</p> Único. Recomiendo maridarlo con empanadas de
                  carne.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Alegoría Malbec.</p> Una vez que uno prueba este vino, no hay vuelta
                  atrás.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Gran Syrah de Finca Las Moras.</p> La máxima expresión de esta cepa
                  emblemática de San Juan.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> La Mascota Cabernet Sauvignon.</p> El Cabernet mendocino premiado como
                  uno de los mejores vinos tintos del mundo.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Trapiche Reserva Malbec.</p> Mi clásica elección cuando quiero tomar un
                  buen Malbec.
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--card3-->
  <div class="card mt-3 col-12 col-lg-4" style="width: 18rem;">
    <img src="  {{card3}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Recomendación</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center mx-auto" id="exampleModalLabel">5 VINOS PARA DEJARSE SORPRENDER</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p> Pionero en el desarrollo de la gastronomía autóctona de alta gama. Lideró varias de las cocinas más
                prestigiosas del país – en Hyatt Hotel, Sheraton Hotel, Mares Sur Hoteles, hasta el comienzo del
                proyecto Puratierra que fue reconocido dentro de los Latin America 50 Best Restaurants en 2013, 2014 y
                2016.</p>
              <div class="border"></div>
              <ul class=" float-left" style="font-size: 15px;">
                <li class="text-start">
                  <p style="font-weight: bold;"> Don David Torrontés.</p> Único. Recomiendo maridarlo con empanadas de
                  carne.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Alegoría Malbec.</p> Una vez que uno prueba este vino, no hay vuelta
                  atrás.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Gran Syrah de Finca Las Moras.</p> La máxima expresión de esta cepa
                  emblemática de San Juan.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> La Mascota Cabernet Sauvignon.</p> El Cabernet mendocino premiado como
                  uno de los mejores vinos tintos del mundo.
                </li>
                <li class="text-start">
                  <p style="font-weight: bold;"> Trapiche Reserva Malbec.</p> Mi clásica elección cuando quiero tomar un
                  buen Malbec.
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>